@model IEnumerable<AcademicBackground>


@foreach(var item in Model){
    <div class="media-left">
        <span class="sun">@item.Duration</span>
    </div>
    <div class="panel-group accordion" id="accordion5">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-sm-4">
                    @item.InstituteOrUniversityName
                    / @item.Degree
                </div>
                <div class="col-sm-8">
                    @item.Details.ToPlainText()
                </div>
            </div>
        </div>
    </div>
}